<h1>聖地巡礼「雲のむこう、約束の場所」青森編</h1>
<p>
  新海誠監督、映画「雲のむこう、約束の場所」は青森も舞台となっていて、実在の場所が別名で登場します。
  映画で登場した実在の場所と写真を紹介します。
</p>
<p>
  なお、映画は2004年に公開され、写真は2005年に撮影しています。
  その後、景色は変わってしまっていますので、現在の現地の様子とは異なります。
</p>
<ul>
  <li><%= link_to "マップで見る", map_path %></li>
  <li><%= link_to "場所の一覧を見る", places_path %></li>
</ul>